<div class="container"id="loginbox">
    <div class="row">
      <div class="col-lg-offset-3 col-lg-6 col-lg-offset-3 col-md-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
        <!-- Modal content-->
        <div class="modal-content">
            <div class=" login-header background-red">
                <h4 class="modal-title">Change Password</h4>
            </div>
            <div class="login-body" >
                        <form name="loginForm" novalidate>
                           
                            <div class="color-red f-size11 text-center" ng-show="changePassErrMsg11">{{changePassErrMsg11}}</div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group change">
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 form-group">
                                   <label class="control-label pull-right">Old Password </label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 form-group">
                                    <input type="password" name="info" id="infoClient" data-toggle="tooltip"
                                           data-placement="top" class="form-control mb-login" title="old pwd"  maxlength="8"
                                           ng-model="changePass.oldInfo"
                                            placeholder="Old Password" autocomplete="off"/>
                                    <div class="color-red f-size11 text-left" ng-show="currentPassErrShow">{{currentPassErrMsg}}</div>
                                </div>

                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group change">
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 form-group">
                                    <label class="control-label pull-right">New Password </label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 form-group">
                                    <input type="password" name="info1" title="new pwd" id="info1" class="form-control mb-login"
                                           ng-model="changePass.newInfo" ng-change="showErrorMsg()"
                                           maxlength="8" placeholder="New Password"
                                           autocomplete="off"/>
                                    <div class="color-red f-size11 text-left" ng-show="newPassErrShow">{{newPassErrMsg}}</div>
                                </div>

                            </div>
                         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group change">
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 form-group">
                                   <label class="control-label pull-right f-size13">Confirm Password </label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 form-group ">
                                    <input type="password" name="info2" id="info2" title="confirm pwd"  maxlength="8"
                                           class="form-control mb-login" ng-model="changePass.confrmInfo" ng-change="showConfrmErrorMsg()" placeholder="Confirm Password"
                                          autocomplete="off" />
                                    <div class="color-red f-size11 text-left" ng-show="cPassErrShow">{{confrmPassErrMsg}}</div>
                                </div>

                            </div>
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group change">
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 form-group">
                                  
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 form-group ">
                            	<input class="btn login-btn btn-lg background-red" id="login_button" type="submit" ng-click="changeinfoClient()" value="Save"/>
                                  <button class="btn btn-primary nextBtn reset-btn btn-lg " type="reset" >Reset</button>
                            </div>
							</div>
                            <div>
                             
                            </div>
                           
                            
                        </form>
                    </div>
                </div>
            </div>
            </div>
</div>
<!--change Password ------>
