<!--main content starts-->
<div class="container">
	<div class="row" id="lenderdashboard_container">
		<div class="col-lg-12 col-md-12 col-xs-12">
			<div class="table-responsive">
				<div id="dashboardHeadMark"></div>
				<table id="example" dt-column-defs="dtColumnDefs" datatable="ng"
					dt-options="dtOptions"
					class="table table-responsive display table-bordered"
					cellspacing="0">
					<thead id="dashboardHead">
						<tr>
							<th class="text-center nosort">Case Number</th>
							<th class="text-center nosort">Lender Name</th>
							<th ng-if="$root.role == 'OLG Endorser'"
								class="text-center nosort">Primary Borrower</th>
							<th class="text-center nosort">Case Status</th>
							<th class="text-center">Case Status Date</th>
							<th class="text-center">Loan Purpose</th>
							<th class="text-center">Date Submitted for Endorsement</th>
							<th class="text-center">Days in OLG</th>
							<th ng-if="$root.role == 'OLG Endorser'"
								class="text-center nosort">Review</th>
							<th ng-if="$root.role == 'OLG Supervisor'" class="text-center">Assign
								Staff</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="caseDetails in vm.getAllCaseDetails">
							<td><a href
								ng-click="vm.openCaseReview(caseDetails)">{{caseDetails.caseNumber}}</a>
							</td>
							<td>{{caseDetails.lndrName}}</td>
							<td ng-if="$root.role == 'OLG Endorser'">{{caseDetails.primaryBorrower}}</td>
							<td class="dashboardBorrowerStyle">{{caseDetails.caseStatusDesc}}</td>
							<td class="caseStatusColumn">{{caseDetails.caseStatDt}}</td>
							<td class="loanPurposeColumn">{{caseDetails.loanPrps}}</td>
							<td>{{caseDetails.dtSbmtForEndrsmnt}}</td>
							<td>{{caseDetails.daysInOlg}}d</td>
							<td ng-if="$root.role == 'OLG Endorser'">
								<button ng-if="caseDetails.activitiStatus !== 'assigned'"
								class="btn btn-success background-red" style="width:100px"
									ng-click="vm.openCaseReview(caseDetails)">Resume</button>
								<button ng-if="caseDetails.activitiStatus == 'assigned'"
								class="btn btn-success background-red" style="width:100px"
									ng-click="vm.startAndOpenCaseReview(caseDetails)">Start</button>
							</td>
							<td ng-if="$root.role == 'OLG Supervisor'">
								<button class="btn btn-success lender-btn-next background-red"
									ng-click="vm.showModal(caseDetails)" data-toggle="modal"
									data-target="#selectStaff">Assign</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="modal fade rollIn" id="selectStaff" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content cart-on-main">
				<div class="modal-header background-red">
					<button type="button" class="close close-login"
						data-dismiss="modal">&times;</button>
					<h4 class="modal-title align-center color-fff font_family_fft">Select
						OLG Staff</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="text-center m-btm20">
							<div class="f-size18 m-btm20">
								<span>Please select OLG Staff to assign.</span>
								<div class="form-group">
									<label for="OLGStaff">OLG Staff:</label> <select
										name="olgStaff" id="olgStaff" ng-model="vm.selectedStaff">
										<option value="">Select Staff</option>
										<option ng-repeat="staff in vm.olgStaffUsers"
											value="{{staff.userName}}">{{staff.firstName}}
											{{staff.lastName}}</option>
									</select>
								</div>
							</div>
							<div class="col-lg-12 m-btm20">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
									<button
										class="btn btn-block pull-right align-noBtn background-gold"
										data-dismiss="modal">Cancel</button>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
									<button
										class="btn btn-block pull-left align-yesBtn background-gold"
										ng-click="vm.assignStaff()" data-dismiss="modal" ng-disabled="!vm.selectedStaff">Assign</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>